/* Myriad_Pro_Bold*/
@font-face {
	font-family: 'Conv_Myriad-Pro-Bold';
	src: url('fonts/Myriad-Pro-Bold.eot');
	src: local('☺'), url('fonts/Myriad-Pro-Bold.woff') format('woff'), url('fonts/Myriad-Pro-Bold.ttf') format('truetype'), url('fonts/Myriad-Pro-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* Myriad_Pro_regular*/
@font-face {
	font-family: 'Conv_myriadpro-regular';
	src: url('fonts/myriadpro-regular.eot');
	src: local('☺'), url('fonts/myriadpro-regular.woff') format('woff'), url('fonts/myriadpro-regular.ttf') format('truetype'), url('fonts/myriadpro-regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	width: 1280px;
	height: 1811px;
	margin: 0 auto;
}
.first-coll {
	width: 521px;
	height: 1811px;
	float: left;
}
.second-coll {
	width: 600px;
	height: 1811px;
	float: left;
}

/*========================НАЧАЛО LOGO========================*/
h1 {
	font-family: 'Conv_Myriad-Pro-Bold';
	font-size: 64px;
}
h2 {
	font-family: 'Conv_myriadpro-regular';
	font-size: 58px;
}
h3 {
	font-family: 'Conv_Myriad-Pro-Bold';
	font-size: 25px;
	padding-top: 9px;
}


.logo {
	width: 300px;
	height: 530px;
	margin-left: 100px;
	margin-top: 60px;
}

.logo-svg {
	width: 300px;
	height: 300px;
}

.logo span {
	text-align: center;
	line-height: 4px;
	display: block;
	margin-top: -26px;
}

/*====================КОНЕЦ LOGO====================*/


/*========================НАЧАЛО PROFILE=======================*/
.profile {
	width: 500px;
	height: 382px;
}
.profile img {
	width: 77px;
	margin-left: 27px;
}
.profile-head {
	letter-spacing: 1.4px;
	width: 339px;
	font-family: 'Conv_Myriad-Pro-Bold';
	font-size: 40px;
	color: #3d6cb0;
	margin-top: -69px;
	margin-left: 115px;
	overflow: hidden;

}
.profile-head:after {
	content: '';
	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box;
	width: 100%;
	height: 6px;
	background: #3d6cb0;
	margin-right: -100%;
	margin-left: -3px;
	margin-top: -8px;
}
.profile-content {
	letter-spacing: 0px;
	width: 450px;
	height: 490px;
	font-family: 'Conv_myriadpro-regular';
	font-size: 16px;
	margin-top: 26px;
	margin-left: 29px;
}

/*========================КОНЕЦ PROFILE========================*/


/*==========================НАЧАЛО CONTACTS==========================*/
.contact {
	width: 500px;
}
.contact img {
	width: 77px;
	margin-left: 27px;
}
.contact-head {
	width: 340px;
	font-family: 'Conv_Myriad-Pro-Bold';
	font-size: 40px;
	color: #3d6cb0;
	margin-top: -69px;
	margin-left: 115px;
	overflow: hidden;
	letter-spacing: 1.5px;
}
.contact-head:after {
	content: '';
	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box;
	width: 100%;
	height: 6px;
	background: #3d6cb0;
	margin-right: -100%;
	margin-left: -3px;
	margin-top: -8px;
}

.contact-content {
	margin-top: 20px;
}

.contact-content table {
	border-spacing: 27px 25px;
}

.contact-content td:nth-of-type(1) {
	letter-spacing: -1px;
	font-family: 'Conv_Myriad-Pro-Bold';
	font-size: 23px;
	color: #3d6cb0;
}

.contact-content td:nth-of-type(2) {
	font-family: 'Conv_myriadpro-regular';
	font-size: 21px;
	padding-left: 14px;
	
}
 /*======================КОНЕЦ CONTACTS======================*/	


 /*=-========================НАЧАЛО SKILLS=========================*/
 .skills {
	width: 500px;
}
.skills img {
	width: 77px;
	margin-left: 26px;
	margin-top: 21px;
}
.skills-head {
	width: 340px;
	font-family: 'Conv_Myriad-Pro-Bold';
	font-size: 41px;
	color: #3d6cb0;
	margin-top: -70px;
	margin-left: 112px;
	overflow: hidden;
	letter-spacing: 1px;
}
.skills-head:after {
	content: '';
	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box;
	width: 100%;
	height: 6px;
	background: #3d6cb0;
	margin-right: -100%;
	margin-left: 3px;
	margin-top: -7px;
}

.skills-content {
	margin-top: 40px;
	margin-left: 70px;

}

.skills-content table {
	font-family: 'Conv_myriadpro-regular';
	font-size: 26px;
	text-align: center;
	border-spacing: 0px 0px;
	margin-bottom: 15px;
}
.skills-content table tr {
	margin-top: 3px;
	display: block;
}
.skills-content table td {
	width: 20px;
	padding: 0 4px;
}
.skills-content caption {
	vertical-align: bottom;
	margin-left: 11px;
	margin-top: -3px;
}

.skills-content svg {
	width: 20px;
	height: 20px;
}
.skills-content table:nth-of-type(1) td:nth-of-type(n+10) circle {
	fill: #e6e6e6;
}
.skills-content table:nth-of-type(2) td:nth-of-type(12) circle {
	fill: #e6e6e6;
}
.skills-content table:nth-of-type(3) td:nth-of-type(n+7) circle {
	fill: #e6e6e6;
}
.skills-content table:nth-of-type(4) td:nth-of-type(12) circle {
	fill: #e6e6e6;
}

/*=========================КОНЕЦ SKILLS=========================*/


/*========================НАЧАЛО EDUCATION========================*/

.education {
	width: 600px;
	height: 707px;
	margin-top: 76px;
}
.education img {
	width: 77px;
	margin-left: 12px;
}
.education-head {
	letter-spacing: 1px;
	width: 555px;
	font-family: 'Conv_Myriad-Pro-Bold';
	font-size: 41px;
	color: #3d6cb0;
	margin-top: -70px;
	margin-left: 110px;
	overflow: hidden;

}
.education-head:after {
	content: '';
	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box;
	width: 100%;
	height: 6px;
	background: #3d6cb0;
	margin-right: -100%;
	margin-left: -2px;
	margin-top: -8px;
}

.education-content {
	margin-top: 24px;
	margin-left: 13px;
}
.education-content  table  tr  td:nth-of-type(1) {
	vertical-align: top;
}
.education-content-head {
	font-family: 'Conv_Myriad-Pro-Bold';
	font-size: 27px;
	color: #3d6cb0;
	display: inline-block;
	margin-top: 12px;
	margin-left: 7px;
	letter-spacing: -0.3px;
}

.education-content time {
	font-family: 'Conv_myriadpro-regular';
	font-size: 28px;
	margin-left: 15px;
	letter-spacing: -0.6px;
}

.education-univ {
	font-family: 'Conv_myriadpro-regular';
	font-size: 27px;
	display: inline-block;
	margin-left: 6px;
	letter-spacing: -0.2px;
}

.education-text {
	width: 600px;
	font-family: 'Conv_myriadpro-regular';
	font-size: 15px;
	display: inline-block;
	margin-top: 7px;
	margin-left: 9px;
	letter-spacing: 0.4px;
}

.education-content svg {
	height:40px;
	width: 40px;
}
.education-content table:nth-of-type(2) {
	margin-top: -3px;
}
.education-content table:nth-of-type(3) {
	margin-top: -6px;
}
.education-content table:nth-of-type(4) {
	margin-top: -6px;
}

/*=========================КОНЕЦ EDUCATION=========================*/


/*========================НАЧАЛО EXPIRIENCE========================*/

.experience {
	width: 600px;
	height: 584px;
}
.experience img {
	width: 80px;
	margin-left: 11px;
}
.experience-head {
	width: 555px;
	font-family: 'Conv_Myriad-Pro-Bold';
	font-size: 40px;
	color: #3d6cb0;
	margin-top: -69px;
	margin-left: 109px;
	overflow: hidden;
	letter-spacing: 1.4px;

}
.experience-head:after {
	content: '';
	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box;
	width: 100%;
	height: 6px;
	background: #3d6cb0;
	margin-right: -100%;
	margin-left: -9px;
	margin-top: -8px;
}

.experience-content {
	margin-top: 40px;
	margin-left: 13px;
}
.experience-content  table  tr  td:nth-of-type(1) {
	vertical-align: top;
}
.experience-content-head {
	font-family: 'Conv_Myriad-Pro-Bold';
	font-size: 27px;
	display: inline-block;
	margin-top: 12px;
	margin-left: 7px;
	letter-spacing: -0.3px;
}

.experience-content time {
	font-family: 'Conv_myriadpro-regular';
	font-size: 28px;
	margin-left: 15px;
	letter-spacing: -0.6px;
}

.experience-job {
	font-family: 'Conv_myriadpro-regular';
	font-size: 27px;
	display: inline-block;
	margin-left: 6px;
	letter-spacing: -0.2px;
}

.experience-text {
	width: 600px;
	font-family: 'Conv_myriadpro-regular';
	font-size: 15px;
	display: inline-block;
	margin-top: 7px;
	margin-left: 9px;
	letter-spacing: 0.4px;
}

.experience-content svg {
	height:40px;
	width: 40px;
}
.experience-content table:nth-of-type(2) {
	margin-top: -6px;
}
.experience-content table:nth-of-type(3) {
	margin-top: -3px;
}

/*=========================КОНЕЦ EXPIRIENCE=========================*/


/*=========================НАЧАЛО SOFTWARE=========================*/

.software {
	width: 707px;
	height: 360px;
}
.software img {
	width: 77px;
	margin-left: 11px;
}
.software-head {
	width: 555px;
	font-family: 'Conv_Myriad-Pro-Bold';
	font-size: 42px;
	color: #3d6cb0;
	margin-top: -69px;
	margin-left: 109px;
	overflow: hidden;
	letter-spacing: 0.3px;

}
.software-head:after {
	content: '';
	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box;
	width: 100%;
	height: 5px;
	background: #3d6cb0;
	margin-right: -100%;
	margin-left: 14px;
	margin-top: -9px;
}

.software-content {
	font-family: 'Conv_myriadpro-regular';
	font-size: 27px;
	letter-spacing: -0.1px;
}
.software-first-coll {
	margin-top: 35px;
	margin-left: 17px;
	width: 357px;
	height: 600px;
	float: left;
}
.software-second-coll {
	margin-top: 35px;
	width: 300px;
	height: 600px;
	float: left;
}
.software-content svg {
	width: 286px;
	height: 23px;
}
.firstrect {
	width: 555px;
	height: 44px;
	fill: #e6e6e6;
}
.secondrect {
	height: 44px;
	fill: #3d6cb0;
}
.software-content table {
	margin-bottom: 11px;
}
.software-content table:nth-of-type(2) {
	margin-bottom: 6px;
}
.software-content table:nth-of-type(3) {
	margin-top: 12px;
}
.software-content table caption {
	margin-left: 2px;
	margin-bottom: 8px;
}
.software-content table:nth-of-type(2) caption {
	margin-bottom: 6px;
}
.software-content table:nth-of-type(3) caption {
	margin-bottom: 2px;
}
.software-second-coll table caption {
	margin-left: 4px;
}
.software-content caption {
	text-align: left;
}