mixin contact()
    .contact
        img(src=require('./elem/contact/img/Contact.png'))
        .contact__head
            span CONTACT
        .contact__content
            table
                tr
                    td ADRESS
                    td Main Street, City
                tr
                    td E-MAIL
                    td contact@domain.com
                tr
                    td PHONE
                    td 555-555-555
                tr
                    td WEBSITE
                    td www.yourweb.com