.logo
  width 300px
  height 530px
  margin-left 100px
  margin-top 60px
  &__svg
    width 300px
    height 300px
  &__text
    text-align center
    line-height 50px
    &_name
      display block
      font-family 'Conv_myriadpro-regular'
      font-size 58px
      font-weight bold
    &_surname
      display block
      font-family 'Conv_Myriad-Pro-Bold'
      font-size 64px
    &_position
      display block
      font-family 'Conv_Myriad-Pro-Bold'
      font-size 25px
      padding-top 9px
