mixin profile()
    .profile
        img(src=require('./elem/profile/img/profile.png'))
        .profile__head
            span PROFILE
        .profile__content
            span Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque sit, praesentium asperiores voluptatum. Aliquid in enim commodi voluptate dolor reprehenderit, tempora consequuntur similique provident laudantium expedita dicta voluptatum ea temporibus quis dolore, accusantium molestiae reiciendis, excepturi, numquam! Ab placeat, voluptatem, sunt dicta id doloremque aliquid impedit, facilis dolores dolorum ea, iusto itaque tenetur beatae expedita. Labore, suscipit quos sed quis consequatur. <b>Similique doloribus reprehenderit vero vitae aliquam voluptate, dicta. Doloremque a facere necessitatibus sapiente voluptatum itaque aut fuga aperiam illum minima similique ut repellat, blanditiis voluptates ullam dolor eum, temporibus sed culpa maxime molestiae laudantium, iste recusandae! Ipsam, deserunt, debitis!</b>
